/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.75;
}

*, *:before, *.after {
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.grid-1auto {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.grid-5 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #fff;
}

.grid-5-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 0;
}

.top-section h2 {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.top-section i {
  font-size: 2rem;
  color: #fff;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

i:hover {
  color: #44A7DA;
}

.chk_menu {
  display: none;
}

ul {
  position: absolute;
  top: 10rem;
  right: 35%;
  background: rgba(68, 167, 218, 0.9);
  box-shadow: 2px 8px 6px -6px darkred;
  padding: 2rem 10rem;
  border-radius: 22px;
  display: none;
}

ul li {
  padding: 1.5rem 0rem 1.5rem 2rem;
}

.menu {
  font-size: 2rem;
  border-bottom: 1px solid #fff;
  padding: 0 0.5rem 1rem 0;
}

a {
  list-style: none;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}

a:hover {
  border-bottom: 1px solid #fff;
}

.top-section {
  background-image: linear-gradient(rgba(46, 27, 79, 0.8), rgba(46, 27, 79, 0.8)), url("https://pixelarity.com/items/demos/atmosphere/blue/images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.chk_menu:checked ~ ul {
  display: block;
}

.hero {
  text-align: center;
  padding: 17rem 0 22rem 0;
}

.hero h3 {
  color: white;
  font-size: 2rem;
  padding-top: 1rem;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.btn {
  background-color: #35A6D9;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.35rem;
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.section2 {
  background-color: #F2F5F7;
  padding: 3rem 0;
}

.box {
  background-color: #FEFEFE;
  width: 90%;
  margin: 1rem 0;
  padding: 4rem 4rem;
}

.box h3 {
  color: #52B8E0;
  font-size: 1rem;
  font-weight: 700;
}

.box h4 {
  color: #98A4AF;
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

.box p {
  color: #99A4AF;
  padding-bottom: 1.5rem;
}

.section2-btn {
  color: #99A4AF;
  background: transparent;
  padding: 1rem 1.5rem;
  border: 0.5px solid #99A4AF;
  border-shadow: none;
  text-transform: uppercase;
}

.features {
  background-color: #44a7da;
  padding: 3rem 0;
}

.icons {
  color: white;
  font-size: 3rem;
}

.features h2 {
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.icons i {
  padding: 60px;
  border-radius: 50%;
  box-shadow: inset 1px -1px 3px rgba(0, 0, 0, 0.1);
}

.grid-1 p {
  color: white;
  padding: 0.5rem 1rem;
}

.section3 {
  background-color: #fff;
  padding: 3rem 0 5rem 0;
}

.section3 h2 {
  color: #35A6D9;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 1.5rem;
}

.section3 h3 {
  color: #637485;
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

.section3 p {
  padding: 2rem 0;
  color: #6A7B8B;
}

.section3-image {
  margin-left: 2rem;
}

.section4 {
  padding: 5rem 0;
  background-color: #F5F8FA;
}

.grid-3 {
  padding: 1.5rem 0;
}

.section4 h3 {
  padding: 0.5rem 0;
  color: #35A6D9;
}

.section4 .p {
  padding: 0 0 1rem 0;
  font-size: 1.8rem;
}

.section4 p {
  padding: 0 0 1rem 0;
}

time {
  color: #35A6D9;
}

.section5 {
  background: linear-gradient(rgba(46, 27, 79, 0.8), rgba(46, 27, 79, 0.8)), url("https://pixelarity.com/items/demos/atmosphere/blue/images/banner.jpg");
  padding: 8rem 0rem;
  background-attachment: fixed;
}

.sec5_left_right {
  padding: 0 0 0 1rem;
}

input {
  width: 95%;
  padding: 0.8rem;
  margin: 1rem 0.5rem;
  background: rgba(0, 0, 0, 0.1);
  border-color: transparent;
  border-radius: 0.2rem;
  color: #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

textarea {
  width: 97%;
  margin-left: 0.5rem;
  background: rgba(0, 0, 0, 0.1);
  border-color: transparent;
  border-radius: 0.2rem;
  color: #fff;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  padding: 1rem 0 0 0.5rem;
}

.section-5_right {
  background: #35A6D9;
  padding: 4rem;
}

.section-5_right p {
  color: #fff;
}

.section5 i {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.2);
  margin: 1.5rem 1rem 1rem 3rem;
}

.section5 .phone {
  border: none;
  border-top: 1px solid rgba(189, 186, 186, 0.2);
  border-bottom: 1px solid rgba(185, 180, 180, 0.2);
}

.section5 h3 {
  color: #35a6d9;
}

footer {
  padding: 4rem;
  text-align: center;
  color: #fff;
}

@media all and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .top-section {
    width: 100%;
    padding: 0;
  }

  ul {
    position: absolute;
    top: 10rem;
    right: 25%;
    background: rgba(68, 167, 218, 0.9);
    box-shadow: inset 2px 3px 6px darkred;
    padding: 1rem 5rem;
    border-radius: 22px;
    display: none;
  }

  .grid-1 {
    grid-template-columns: 1fr;
  }

  .grid-4 {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  .features {
    margin: 0;
    padding: 0;
  }

  .grid-2 {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  .grid-1 {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  .section3 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .grid-1auto {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .consequat {
    width: 100%;
    padding: 10px;
  }

  .section3-image img {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .section3-image {
    margin: 0;
    padding: 1rem;
  }

  .section2-btn {
    display: none;
  }

  .section-2 {
    padding: 0;
  }

  .box {
    margin: 0;
    padding: 2rem;
    width: 100%;
  }

  .grid-3 {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  .grid-5 {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  .grid-5-1 {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }

  .grid-5 i {
    border: none;
    font-size: 3rem;
    padding-left: 25%;
  }

  .grid-2 {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
    padding: 1rem;
  }
}

/*# sourceMappingURL=styl.css.map */
